.Categories {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

@media only screen and (min-width: 1235px) {
    .Categories p {
        width: 15%;
        margin: auto;
        margin-right: 5%;
        padding: 35px 20px 15px 20px;
        text-align: left;
        height: 10%; 
        float: left;
        color: white;
        border-radius: 10px;
        font-weight: 3000;
        font-size: 20px;    
    }
}

@media only screen and (max-width: 1235px) {
    .Categories p {
        width: 80%;
        margin: auto;
        margin-bottom: 3%;
        padding: 20px 20px 20px 20px;
        height: 10%; 
        color: white;
        border-radius: 10px;
        font-weight: 3000;
        font-size: 20px;    
    }
}