.navbar{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.logo {
    font-family: Helvetica;
    font-size: 22px;
    margin-top: 12.5px;
    margin-left: 3%;
    float: left;
}

.profilePic {
    border-radius: 50%;
    float: left;
}

.profileName {
    float: right;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px; 
    margin-top: 7.5px;
}

.searchBar {
    background-color: #F5F5F5F5;
    border: none;
    width: 771px;
    height: 50px;
    border-radius: 10px;
    margin-right: 0;
    margin: 0;
    float: left;
}

.searchIcon {
    margin-left: 25px;
    margin-right: 25px;
}

.searchInput {
    background-color: #F5F5F5F5;
    border: none;
    width: 80%;
    height: 50px;
    padding-left: 20px;
    border-radius: 10px;
}


.searchButton {
    background-color: white;
    border: none;
    font-weight: bold;
    font-family: Helvetica;
    padding-top: 12.5px;
    padding-left: 24px;
    float: right;
}

*:focus {
    outline: 0 !important;
}

@media only screen and (min-width: 1235px) {
    .navbar {
        width: 95%;
    }
}

@media only screen and (max-width: 1235px) {
    
    .searchBar {
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }


    .searchButton {
        width: 70%;
        background-color: #CAD1D5;
        text-align: center !important;
        margin: 0 auto !important;
    }
}

@media only screen and (max-width: 1272px) {

    

    .profileName {
        display: none !important;
    }

    .profilePic {
        display: none !important; 
    }

    .logo {
        display: none !important;
    }

}